{% extends "amazon/base.html" %}
{% load crispy_forms_tags %}
{% block content %}  
    <p> </p>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="125" height="125">
            <div class="media-body">
                <h2 style="text-indent:2em" style="text-align:left" class="account-heading">{{ user.username }}</h2>
                <p style="text-indent:2em" style="text-align:left" class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <p> </p>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form=group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
